body {
  margin: 0;
}

div.row {
  margin: 0 auto;
}

div.column-left {
  width: 45%;
  display: inline-block;
  vertical-align: top;
  margin: 0 2%;
}

div.column-right {
  width: 45%;
  display: inline-block;
  vertical-align: top;
  margin: 0 2%;
}

section.main {
  width: 65%;
  background: lightgoldenrodyellow;
  outline: solid 2px black;
  margin: 0 auto;
}

section.main h1 {
  text-align: center;
  padding-top: 10px;
  font-size: 2.8rem;
}

section header {
  font-size: 1.9rem;
  border-top-color: black;
  border-top-width: 1px;
  border-top-style: dashed;
  border-bottom-color: black;
  border-bottom-width: 1px;
  border-bottom-style: dashed;
  padding: 3px 0;
  margin: 3px 0;
}

section.my-earnings {
  margin-top: 15px;
}